body {
  background-color: #333333;
  color: #cccccc;
  padding: 0;
  margin: 0;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 60px;
  line-height: 60px;
  background-color: #252526;
  text-align: center;
  font-size: 2em;
}

footer {
  height: 90px;
  line-height: 90px;
  background-color: #1e1e1e;
  text-align: center;
  font-size: 2em;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

button#click-me {
  font-size: 3rem;
  border: 2px solid white;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  animation: bouncy 2s infinite linear;
  position: relative;
  background-color: transparent;
}

button#click-me:hover {
  background-color: #ff00ff33;
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
