body {
  color: #cccccc;
  padding: 0;
  margin: 0;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 60px;
  line-height: 60px;
  background-color: #252526;
  text-align: center;
  font-size: 2em;
}

footer {
  height: 90px;
  line-height: 90px;
  background-color: #1e1e1e;
  text-align: center;
  font-size: 2em;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cool-background {
  background: linear-gradient(135deg, #6b6b1055 25%, transparent 25%) -21px 0/
      42px 42px,
    linear-gradient(225deg, #6b6b10 25%, transparent 25%) -21px 0/ 42px 42px,
    linear-gradient(315deg, #6b6b1055 25%, transparent 25%) 0px 0/ 42px 42px,
    linear-gradient(45deg, #6b6b10 25%, #333333 25%) 0px 0/ 42px 42px;
}

button#click-me {
  font-size: 3rem;
  border: 2px solid white;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  animation: bouncy 2s infinite linear;
  position: relative;
  background-color: #ff00ff33;
  user-select: none;
}

button#click-me:hover {
  background-color: #ff00ff99;
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.rick {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  animation: rolling 2s infinite linear;
}

@keyframes rolling {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
