body {
  color: #cccccc;
  padding: 0;
  margin: 0;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 60px;
  line-height: 60px;
  background-color: #252526;
  text-align: center;
  font-size: 2em;
}

footer {
  height: 90px;
  line-height: 90px;
  background-color: #1e1e1e;
  text-align: center;
  font-size: 2em;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cool-background {
  background: linear-gradient(135deg, #6b6b1055 25%, transparent 25%) -21px 0/
      42px 42px,
    linear-gradient(225deg, #6b6b10 25%, transparent 25%) -21px 0/ 42px 42px,
    linear-gradient(315deg, #6b6b1055 25%, transparent 25%) 0px 0/ 42px 42px,
    linear-gradient(45deg, #6b6b10 25%, #333333 25%) 0px 0/ 42px 42px;
}
